<html>
    <head>
        <title>Лисичкины блоги</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Мои блоги :)</a></h1>
        </div>

        <div>
            <p>Дата публикации: 26.12.2017, 17:34</p>
            <h2><a href="">Немножко о себе</a></h2>
            <p>Привет! Меня зовут Алиса, а так я просто Лисичка. Мне 9 лет, люблю рисовать и нравится писать на Django. Спасибо Вам, Django Girls, за прекрасный учебник! Спасибо и тебе, Лена! Живу в Московской области. Однажды так захотелось стилус, что решила писать на Django :D</p>
        </div>

        <div>
            <p>Дата публикации: 26.12.2017, 17:35</p>
            <p>Автор: Лисичка</p>
            <h2><a href="">Кошки</a></h2>
            <p>Кошки - волшебные существа. Почему, спросите Вы? Задумайтесь: человек умеет мурчать? Кто из зверей, кроме кошек, умеет втягивать когти? У кого так же много разновидностей? Лев, пантера, леопард… Все они тоже кошки! Кошки - они милые, безобидные существа! Конечно, львы, тигры и другие могут укусить, но их можно приручить и они будут такими милашками! Я думаю, Вы убедились, что кошки - милые и волшебные? Если нет, то вас не переубедить… Хотя Вы всегда можите полюбить их :)</p>
             <p>Дата публикации: 26.12.2017, 17:35</p>
             <p>Автор: Лисичка</p>
        </div>
    </body>
</html>